.NavigationLink {
	--NavigationLink-color: white;
	display: inline-block;
	border: 0;
	padding: 1rem 1.25rem;
	background-color: transparent;
	color: var(--font-color);
	font-family: var(--font-family);
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;

	/* Font scaling:
		Minimum: Sane value picked from Figma design
		Ideal  : Scale grabbed from Unbounded website (weird, yes)
		Maximum: Same as max value on Unbounded website (@>1920px)
	*/
	font-size: clamp(
		calc(2rem * var(--size-adjustment)),
		calc(0.6944444444vw * 4),
		calc(4rem * var(--size-adjustment))
	);
}

.NavigationLink:hover,
.NavigationLink:focus {
	outline: 0;
	text-decoration: underline;
	text-underline-offset: calc(0.5rem * var(--size-adjustment));
}

@media (min-width: 720px) {
	.NavigationLink:hover,
	.NavigationLink:focus {
		text-underline-offset: calc(1rem * var(--size-adjustment));
	}
}
