.NavigationLink {
	--NavigationLink-color: white;
	display: inline-block;
	border: 0;
	font-size: calc(2rem * var(--size-adjustment));
	padding: 1rem 1.25rem;
	background-color: transparent;
	color: var(--font-color);
	font-family: var(--font-family);
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
}

.NavigationLink:hover,
.NavigationLink:focus {
	outline: 0;
	text-decoration: underline;
	text-underline-offset: calc(0.5rem * var(--size-adjustment));
}

@media (min-width: 720px) {
	.NavigationLink {
		font-size: calc(3rem * var(--size-adjustment));
	}

	.NavigationLink:hover,
	.NavigationLink:focus {
		text-underline-offset: calc(1rem * var(--size-adjustment));
	}
}
