@font-face {
	font-family: Unbounded;
	font-style: normal;
	font-weight: 100;
	font-display: block;
	src: local('Unbounded-ExtraLight'), local('Unbounded ExtraLight'),
		url('/Unbounded-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: Unbounded;
	font-style: normal;
	font-weight: normal;
	font-display: block;
	src: local('Unbounded-Regular'), local('Unbounded Regular'),
		url('/Unbounded-Regular.woff2') format('woff2');
}

@font-face {
	font-family: Unbounded;
	font-style: normal;
	font-weight: bold;
	font-display: block;
	src: local('Unbounded-Bold'), local('Unbounded Bold'),
		url('/Unbounded-Bold.woff2') format('woff2');
}

:root {
	/* See theme colours in Home.module.css */
	--brand-color: hsl(328, 100%, 45%);
	--font-size-base: 16px;
	--font-size-small: 0.5rem;
	--font-size-regular: 0.75rem;
	--font-size-large: 1rem;
	--font-size-xlarge: 1.25rem;
	--font-family: Unbounded, arial black, arial, Helvetica Neue, Helvetica,
		sans-serif;
	--border-radius: 20px;
	--transition-speed: 0.3s;
	--transition-speed-slow: 1s;
	--transition-speed-fast: 0.15s;
	/* this is to match the Unbounded site, which uses a different rem scale */
	--size-adjustment: 13.33333/16;
}

html {
	font-size: var(--font-size-base);
}

body {
	font-size: var(--font-size-regular);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
}

a {
	color: inherit;
	text-decoration: none;
}

small {
	font-size: var(--font-size-small);
}

.no-scroll {
	overflow: hidden;
	padding-right: 15px; /* Avoid width reflow when scrollbar is removed */
}

* {
	box-sizing: border-box;
}
