:root {
	--bg-color: white;
	--font-color: black;
	--border-radius: 20px;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: var(--font-color);
	background: var(--bg-color);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: black;
		--font-color: white;
	}

	html {
		color-scheme: dark;
	}
}
