.container {
	padding: 0 2rem;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	gap: 2rem;
}

.header input {
	margin: 1rem 0;
}

.buttonOutline {
	display: inline-block;
	border: solid 2px #000;
	border-radius: 100px;
	background-color: transparent;
	padding: 0.5em 1em;
	text-transform: uppercase;
	font-size: 1rem;
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	.buttonOutline {
		border-color: #fff;
	}
}
