.light {
	--bg-color: white;
	--font-color: black;
	--inverse-color: var(--bg-color);
	--interaction-color: black;
	--element-hover-bg-color: hsl(0, 0%, 88%);
	--box-shadow: 0 0 34px hsla(0, 0%, 0%, 0.25);
}

.dark {
	--bg-color: black;
	--font-color: white;
	--inverse-color: var(--bg-color);
	--interaction-color: white;
	--element-hover-bg-color: hsl(0, 0%, 18%);
	--box-shadow: 0 0 34px hsl(0, 0%, 100%, 0.25);
}

.container {
	padding: 0 2rem;
	color: var(--font-color);
	background: var(--bg-color);
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	gap: 2rem;
}

.header input {
	margin: 1rem 0;
}
