.inputWrapper {
	--chevron-size: 16px;
	display: flex;
	align-items: center;
	height: 18px;
	width: 14ch;
	position: relative;
	border: 0;
	border-bottom: solid 1px currentColor;
	cursor: pointer;
	line-height: 1;
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed;
}

.chevron {
	position: absolute;
	right: 0;
	top: 0;
	height: var(--chevron-size);
	width: var(--chevron-size);
	border-radius: 20px;
	text-align: center;
	line-height: 0.25;
	box-shadow: inset 0 0 0 0 currentColor;
	transition: all 0.2s;
}

.inputWrapper:focus {
	outline: none;
}

.inputWrapper:focus .chevron {
	box-shadow: inset 0 0 0 8px var(--interaction-color);
	color: var(--inverse-color);
}

.options {
	display: none;
}

.optionsActive {
	display: flex;
	flex-flow: column wrap;
	position: absolute;
	width: 100%;
	left: 0;
	top: 1.5rem;
	z-index: 10;
	background-color: var(--bg-color);
	overflow: hidden;
	border-radius: var(--border-radius);
	/* Creates an inset border, preventing double borders from items */
	border: solid 2px currentColor;
	box-shadow: var(--box-shadow);
	width: 100%;
}

.options div:hover,
.selected {
	background-color: var(--element-hover-bg-color);
}

.options > div {
	padding: 0.5rem 1rem;
}
