.label {
	white-space: nowrap;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	flex: 1;
	gap: 10px;
}

@media (min-width: 720px) {
	.label {
		flex-flow: row nowrap;
		align-items: center;
	}
}
