.Header {
	width: 100%;
	margin-block-end: 1rem;
	padding-block-start: 1rem;
	background-color: var(--bg-color);
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem 1.5rem;
	padding: 1rem;
}

.title {
	margin: 0.25rem 0;
	font-size: 1rem;
}

.reset {
	padding: 0;
	float: right;
	background-color: transparent;
	color: currentColor;
	border: 0;
	border-bottom: solid 1px currentColor;
	text-transform: uppercase;
	font-family: var(--font-family);
	transition: color var(--transition-speed-fast);
}

.reset:hover {
	color: var(--brand-color);
	cursor: pointer;
}

.formatsModule {
	grid-row: 5;
	grid-column: 1;
}

.cornerTypeModule {
	grid-row: 5;
	grid-column: 2;
}

.styleModule {
	grid-column: span 2;
}

.themeModule {
	grid-row: 6;
	grid-column: 1;
}

.strokeWidthValue {
	margin-inline-start: 10px;
	/* Prevent layout shift when value changes */
	display: inline-block;
	width: 4ch;
}

.sizeWidthValue {
	margin-inline-start: 10px;
	/* Prevent layout shift when value changes */
	display: inline-block;
	width: 8ch;
}

.rangeInputWrapper input {
	max-width: 80px;
}

.rangeInputWrapper > span {
	text-align: right;
}

.themeModule button {
	width: 40px;
}

.themeModule button svg {
	position: relative;
	top: 1px;
}

/* prevent layout shift when toggling style */
.strokeColorModule > b,
.fillColorModule > b {
	width: 8ch;
}

@media (min-width: 480px) {
	.rangeInputWrapper input {
		max-width: 120px;
	}
}

@media (min-width: 720px) {
	.box {
		grid-template-columns: 1fr 1fr;
		padding: 2rem;
	}

	.dummyContainer {
		display: block;
	}
}

@media (min-width: 920px) {
	.box {
		grid-template-columns: 1fr 3fr 3fr;
	}

	.formatsModule {
		grid-row: 2;
		grid-column: 3;
	}

	.resetContainer {
		grid-column: 2 / span 2;
	}

	.styleModule {
		grid-row: 2;
		grid-column: 1 / span 3;
	}

	.cornerTypeModule {
		grid-row: 3;
		grid-column: 3;
	}

	.themeModule {
		grid-row: 4;
	}
}

@media (min-width: 1180px) {
	.Header {
		position: sticky;
		top: 7rem;
		padding-block-start: 1rem;
		z-index: 20;
	}

	.box {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.title {
		grid-row: 1;
		grid-column: 1;
	}

	.styleModule {
		grid-row: 1;
		grid-column: 2 / span 2;
	}

	.formatsModule {
		grid-row: 1;
		grid-column: 4;
	}

	.fillColorModule,
	.strokeColorModule {
		grid-row: 2;
	}

	.cornerTypeModule,
	.strokeWidthModule,
	.sizeModule,
	.resetContainer {
		grid-row: 3;
	}

	.resetContainer {
		grid-column: 4;
	}

	.themeModule {
		grid-row: 2;
		grid-column: 1;
	}
}

@media (min-width: 1540px) {
	.box {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.title {
		grid-row: 1;
		grid-column: 1;
	}

	.styleModule {
		grid-row: 1;
		grid-column: 2 / span 2;
	}

	.cornerTypeModule {
		grid-row: 1;
		grid-column: 4;
	}

	.formatsModule {
		grid-row: 1;
		grid-column: 5;
	}

	.resetContainer {
		grid-row: 1;
		grid-column: 6;
	}

	.themeModule {
		grid-row: 2;
		grid-column: 1;
	}

	.dummyContainer,
	.fillColorModule,
	.strokeColorModule,
	.strokeWidthModule,
	.sizeModule {
		grid-row: 2;
	}
}
