.TopBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: calc(0.6rem * var(--size-adjustment))
		calc(2rem * var(--size-adjustment));
}

/* text is always white in this context, regardless of darkmode */
.TopBarNavOpen {
	--font-color: white;
}

/* === LOGO ================================================================  */
.logo {
	height: 45px;
	width: 42px;
	z-index: 100;
	animation-duration: var(--transition-speed);
}

.logoNavOpen,
.logo:hover {
	animation-name: rotateLogo;
}

.logoNavClosed {
	animation-name: rotateLogoReverse;
	animation-direction: reverse;
}

.logo path {
	fill: var(--brand-color) !important;
	transition: fill var(--transition-speed);
}

/* fill is always white in this context, regardless of darkmode */
.logoNavOpen path {
	fill: white !important;
}

/* === TRIGGER BUTTON ======================================================  */

.trigger {
	z-index: 100;
	box-shadow: inset 0 0 0 2px transparent !important;
	padding-inline-end: 0;
	color: var(--font-color);
	font-size: calc(1.2rem * var(--size-adjustment));
}

.triggerInner {
	position: relative;
	height: 1em;
	display: block;
	width: 6ch;
	overflow: hidden;
	min-width: 6ch;
	height: calc(2rem * var(--size-adjustment));
	width: calc(2rem * var(--size-adjustment));
}

.triggerInner span {
	position: absolute;
	right: 0;
	transition: transform var(--transition-speed), opacity var(--transition-speed);
}

.triggerNavOpen .triggerInner {
	height: calc(2rem * var(--size-adjustment));
	width: calc(2rem * var(--size-adjustment));
}

.triggerNavOpen .triggerOpen {
	transform: translateY(-100%);
	opacity: 0;
}
.triggerNavOpen .triggerClose {
	transform: translateY(0);
	opacity: 1;
}

.triggerMenu {
	opacity: 1;
}

.triggerClose {
	transform: translateY(100%);
	opacity: 0;
	transition: color var(--transition-speed-fast);
}

.triggerClose svg {
	height: calc(2rem * var(--size-adjustment));
	width: calc(2rem * var(--size-adjustment));
}

.triggerClose:hover {
	color: black;
}

.triggerClose:hover svg {
	animation-name: spin;
	animation-duration: var(--transition-speed);
}

/* === NAVIGATION ==========================================================  */

.nav {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: var(--brand-color);
	pointer-events: none;
	opacity: 0;
	transition: opacity var(--transition-speed);
}

.nav li {
	list-style: none;
	padding: 0;
	margin: 0;
	opacity: 0;
	transform: translateY(50%);
	transition: transform var(--transition-speed) ease-out,
		opacity var(--transition-speed) ease-out;
}

.navOpen li:nth-child(2) {
	transition-delay: 0.1s;
}

.navOpen li:nth-child(3) {
	transition-delay: 0.2s;
}

.navOpen {
	opacity: 1;
	pointer-events: all;
}

.navOpen li {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0ms;
}

@media (min-width: 720px) {
	.TopBar {
		padding: calc(2rem * var(--size-adjustment))
			calc(2.5rem * var(--size-adjustment));
	}

	.trigger {
		font-size: calc(2rem * var(--size-adjustment));
	}

	.triggerInner span {
		top: -2px;
	}
}

@keyframes rotateLogo {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}
}

@keyframes rotateLogoReverse {
	from {
		transform: rotate(180deg);
	}

	to {
		transform: rotate(0deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}
}
